<%- include('../layouts/userHeader.ejs') %>

        <main class="main">
           
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/bgg.png')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="login" role="tab" aria-controls="signin-2" aria-selected="false">otp</a>
							    </li>
							   
							</ul>
							<div class="tab-content">
							    <div class="" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">
							    	<form action="/forgotPassword" method="post" id="contactForm">
							    		<div class="form-group">
							    			<label for="singin-email-2">Enter Your Otp</label>
							    			<input type="text" class="form-control"  id="name" name="otp" placeholder="OTP"  required>
							    		</div><!-- End .form-group -->

							    		<!-- <div class="form-group">
							    			<label for="singin-password-2">Password *</label>
							    			<input type="password" class="form-control" id="name" name="password" placeholder="Password" required>
							    		</div>End .form-group -->

							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2">
			                					<span>Verify<span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>

			                				
                                            <!-- <div id="countdown-container">
                                                <span id="countdown" style="display: none;"></span>
                                                <a href="/resendOtp" id="resendLink" onclick="resendOTP()">Resend OTP</a>
                                            </div> -->
                                           

                                            <p class="ml-5"><%=(typeof message!=='undefined')?message:""%></p> 

											<!-- <a href="forgotPassword" class="forgot-link">Forgot Your Password?</a> -->
							    		</div><!-- End .form-footer -->
							    	</form>
							    	
							    </div><!-- .End .tab-pane -->
								<center>
									<!-- <a href="/register" class="forgot-link">Create an Account</a> -->
								</center>
							    
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

        <%- include('../layouts/userFooter.ejs') %>








